* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: #d8d8d8;
  padding: 15px;
  height: 100vh;
  overflow-x: auto;
}

.task {
  border: 1px solid rgb(75, 75, 75);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  border-radius: 5px;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  margin-right: 15px;
  background-color: rgb(150, 150, 150);
  max-height: 70vh;
}

.title-task {
}

.card {
  width: 240px;
  padding: 8px 3px;
  border: 1px solid rgb(97, 96, 96);
  margin-bottom: 5px;
  border-radius: 5px;
  background-color: rgb(192, 192, 192);
}

.cards-drop-preview {
  background-color: rgba(150, 150, 200, 0.1);
  border: 1px dashed rgb(13, 90, 167);
  margin: 5px 45px 5px 5px;
}

.drop-preview {
  background-color: rgba(150, 150, 200, 0.1);
  border: 1px dashed #abc;
  margin: 5px;
}
